h1 {
	color: black;
	background: black;
	text-align: center;
	font-family: Comic Sans MS;
	border: 5px solid red;
}

h2 {
	color: red;
	background: yellow ;
}

h3 {
	color: black;
	background: white;
}
	
body {
	background: black;
	background-repeat: no-repeat;
	background-size: cover;
}

img {
	transform: rotate(10deg);
	max-width: 200px;
	max-height: 200px;
	background: white
}